# Specify file patterns and exclude them from language detection
*.o linguist-vendored
*.dll linguist-vendored
*.bmp linguist-vendored
*.png linguist-vendored
*.cpp linguist-vendored

# Exclude specific directories from language detection
SDL2/ linguist-vendored

